{% extends 'base.html' %}
{% block title %}Github Workflows Monitor{% endblock %}

{% block content %}
<div class="col-6 d-flex justify-content-center border border-primary rounded p-4 background-secondary register-container">
  <div class="d-flex flex-column justify-content-center">
    {% if g.user is none %}
    <p>No user logged in</p>
    <a class="btn btn-primary" href="/login">Login</a>
    {% else %}
    <h1 class="text-light">{{ g.user.github_login }}</h1>
    {% endif %}
  </div>
</div>
{% endblock %}