{% extends 'base.html' %}
{% block title %}Organizations - GWM{% endblock %}

{% block content %}
    <h2>Organizations of <span class="text-primary">{{ g.user.github_login }}</span><span class="text-muted"> ({{ orgs|length }})</span></h2>
    {% for org in orgs %}
    <div class="card background-secondary mt-2 col-12">
      <div class="row g-0">
        <div class="col-2 p-2">
          <img src="{{ org.avatar_url }}" width="64" alt="{{ org.login }}">
        </div>
        <div class="col-md-8 d-flex align-items-center">
          <div class="card-body p-1">
            <a href="{{ url_for('repos', org_name=org.login) }}" class="stretched-link text-decoration-none">
              <h5 class="card-tittle fw-bold">{{ org.login }}</h5>
              <p class="card-text text-muted"></p>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}
