{% extends 'base.html' %}
{% block title %}Repos - GWM{% endblock %}

{% block content %}
<div class="col-6 d-flex flex-column justify-content-center border border-primary rounded p-4 background-secondary register-container">
    <h2>Settings</h2>
    <div class="d-flex flex-column justify-content-center">
        <form method="POST" class="d-flex flex-column align-items-center">
            {{ form.hidden_tag() }}
            {{ form.jenkins_url.label(class="my-3 me-3 text-nowrap") }}
            {{ form.jenkins_url(class="form-control w-75", placeholder="jenkins.myorg.com") }}
            {{ form.submit(class="btn btn-primary mt-2") }}
        </form>
    </div>
  </div>  
{% endblock %}
